body {
    text-align: center;
    font-family: Arial;
    margin-top: 100px;
}

h2 {
    font-size: 50px;
}

button {
    padding: 10px 15px;
    font-size: 18px;
    margin: 5px;
    cursor: pointer;
}
